{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="responsive-cell">
    <div class="box-type1">
        <div class="title">
            <span class="widget-title">Support tickets</span>
        </div>

        <div class="row-fluid">
            {% set emails = [] %}
            {% for email in entity.emails %}
                {% set emails = emails|merge([email.getEmail])  %}
            {% endfor %}
            {{ dataGrid.renderGrid('diamante-contact-ticket-grid', {id: entity.id, emails: emails}) }}
        </div>
    </div>
</div>
